.search-bar--container {
  margin: 32px;
  width: 70%;
  padding: 8px 8px;
  background: white;
  border-radius: 3px;
  border: 1px solid #ededef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.14);
  
}

.search-icon {
  margin: 0px 16px;
}
.search-bar {
  width: 80%;
  padding: 8px;
  border: none;
  outline: none;
}

.search-button {
  background: #3a3399;
  padding: 8px 24px;
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
}
