* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: #f7f6fb;
  height: 100vh;
}

.App {
  display: grid;
  margin: 0px;
  grid-template-columns: 20% 80%;
  background-color: #f7f6fb;
  height: 100vh;
}

.main {
  padding: 16px;
  height: 100%;
}

.top-bar {
  display: flex;
  align-items: center;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 16px 32px;
  grid-gap: 4px;
  overflow-y: scroll;
  height: 80vh;
}
